<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyTutor</title>
    <script src="../homescript.js"></script>
    <link rel="stylesheet" href="../styles.css">
    <script src="https://kit.fontawesome.com/b501051811.js" crossorigin="anonymous"></script>
</head>
<body>
    <main id="home">
        <header>
            <h2>IsaiahTutor</h2>
        </header>
        <div class="container">
            <div class="sidebar">
                <h3>Welcome back, Admin!</h3>
                <button id="dashbtn" onclick="openSection(dashboard, dashbtn)"><i class="fa-solid fa-gauge"></i>Dashboard</button>
                <button id="helpbtn" onclick="openSection(help, helpbtn)"><i class="fa-solid fa-question"></i>Help</button>
                <h3>Subjects</h3>
                <button class="inactive" id="mathbtn" onclick="openSection(mathsMethods, mathbtn)"><i class="fa-solid fa-calculator"></i>Maths Methods</button>
                <button class="inactive" id="physbtn" onclick="openSection(physics, physbtn)"><i class="fa-solid fa-ruler"></i>Physics</button>
                <button class="inactive" id="chmbtn" onclick="openSection(chemistry, chmbtn)"><i class="fa-solid fa-flask-vial"></i>Chemistry</button>
                <h3>Log out</h3>
                <button onclick="logOut()"><i class="fa fa-sign-out"></i>
                    Log out</button>
            </div>
            <div class="contents">
                <section class="dashboard section">
                    <div class="info">
                        <h1>Welcome to the dashboard</h1>
                        <div id="dashboardcontainer">
                            <div id="dashboardtoggles" class="dashitem">
                                <h2>Choose your subjects!</h2>
                                <button id ="mathdashbtn" onclick="displayButton(mathbtn, mathdashbtn, 'math')">Maths Methods</button>
                                <button id="physdashbtn" onclick="displayButton(physbtn, physdashbtn, 'physics')">Physics</button>
                                <button id="chmdashbtn" onclick="displayButton(chmbtn, chmdashbtn, 'chemistry')">Chemistry</button> 
                            </div>
                            <div id="query" class="dashitem">
                                <h3>Coming Soon</h3>
                                <p>(Name Change)</p>
                            </div>
                            <div id="advice" class="dashitem">
                                <h3>Coming Soon</h3>
                                <p>(recommendations)</p>
                            </div>
                            <div id="tips" class="dashitem">
                                <h3>Coming Soon</h3>
                                <p>(general tips)</p>
                            </div>
                            <div id="dashplayer" class="dashitem">
                                <h2>Featured Video</h2>
                                <iframe width="1250" height="703" src="https://www.youtube.com/embed/vpedZdjsafc" title="Integration by recognition" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="help section">
                    <div class="info">
                        <h1>What is this website?</h1>
                        <p>This is meant to be a tutoring aid; All lessons and their solutions will be uploaded to here. This is just a project that I created for fun to learn coding while also helping out my students so it was kind of two birds with one stone.</p>
                        <p>The username and password system on this website has no security whatsoever so don't type any real info; the login will be the same everytime.</p>
                        <p>Feel free to use this website anytime during your revision/study, if it can be of use to you then it's done it's job and I'll be happy. As of the 13th of February 2024, this website is still pretty bare bones but I'll work towards making it useful for you guys.</p>
                        <p>If you have any suggestions/content you want added to help you study feel free to let me know.</p>
                        <button type="button" class="collapsible">How to use this website?</button>
                        <div class="collapsedcontent">
                            <h1>How to use this website?</h1>
                            <p>On each of the subjects, there is a 'self tracker', use this and rate your understanding and confidence honestly. Don't automatically assume a 10 or a 0; a good rule of thumb I suggest to follow is to have only a maximum of 3 10/10 scores, this way you'll know which topics you're truly confident in.</p>
                            <p>Work on your weaknesses and always try to truly understand why each step of working out was made, if you struggle with a question; come back to it after a week and retry it without looking at your previous solution. I suggest you don't look at your notes at all when attempting questions and to only go to the solution when you've done everything you could possibly think of.</p>
                            <p>You don't know what you don't know so everytime you come across something confusing or you don't understand, write a little note next to whatever you're struggling with and come back to it later to see if you can figure it out.</p>
                            <p>Don't expect to be able to finish a whole lessons worth of work in one sitting, most of the questions I've picked out are delibrately harder because the most effective way to learn is to make mistakes.</p>
                            <p>If the PDF viewer is to small, you can just download it to open it up in a new tab.</p>
                        </div>
                        <button type="button" class="collapsible">Assignment Guide</button>
                        <div class="collapsedcontent">
                            <object data="files/Isaiah's Assignment Writing Guide.pdf" type="application/pdf" width="100%" height="1000px"></object>
                        </div>
                    </div>
                    </section>
                <section class="mathsMethods section">
                    <div class="info subject">
                        <h1>Maths Methods</h1>  
                        <p>All lessons and worked solutions will be available below</p>
                        <button type="button" class="collapsible">Methods Lesson 1</button>
                        <div class="collapsedcontent">
                            <object data="files/MethodsLesson1.pdf" type="application/pdf" width="100%" height="1000px"></object>
                        </div>
                        <button type="button" class="collapsible">Methods Lesson 1 Worked Solutions</button>
                        <div class="collapsedcontent">
                            <object data="files/MethodsLesson1Sol.pdf" type="application/pdf" width="100%" height="1000px"></object>
                        </div>
                        <button type="button" class="collapsible">Methods Lesson 2</button>
                        <div class="collapsedcontent">
                            <object data="files/MethodsLesson2.pdf" type="application/pdf" width="100%" height="1000px"></object>
                        </div>
                        <button type="button" class="collapsible">Methods Lesson 3</button>
                        <div class="collapsedcontent">
                            <object data="files/MethodsLesson3.pdf" type="application/pdf" width="100%" height="1000px"></object>
                        </div>
                        <button type="button" class="collapsible">Methods Lesson 3 Worked Solutions</button>
                        <div class="collapsedcontent">
                            <object data="files/MethodsLesson3Sol.pdf" type="application/pdf" width="100%" height="1000px"></object>
                        </div>
                        <h3>Archived Content</h3>
                        <p>These have no worked solutions but they are all the previous lessons</p>
                        <button type="button" class="collapsible">Unit 3 Lesson 1 (2023)</button>
                        <div class="collapsedcontent">
                            <object data="files/2023MethodsL1.pdf" type="application/pdf" width="100%" height="1000px"></object>
                        </div>
                        <button type="button" class="collapsible">Unit 3 Lesson 2 (2023)</button>
                        <div class="collapsedcontent">
                            <object data="files/2023MethodsL2.pdf" type="application/pdf" width="100%" height="1000px"></object>
                        </div>
                    </div>
                    <div class="skillcheck">
                        <h1>Self Tracker</h1>
                        <p>Give yourself a rating out of 10 for each of the topics you've learnt so far</p>
                        <h3>Unit 3</h3>
                        <p>Log laws: <strong><span></span>/10</strong> <input type="range" min="0" max="10" value="0"></p>  
                        <p>Derivatives of exponentials: <strong><span></span>/10</strong> <input type="range" min="0" max="10" value="0"></p>  
                        <p>Derivatives of trig functions: <strong><span></span>/10</strong> <input type="range" min="0" max="10" value="0"></p>  
                        <p>Derivatives of log functions: <strong><span></span>/10</strong> <input type="range" min="0" max="10" value="0"></p>  
                        <p>Antidifferentiation (exponentials): <strong><span></span>/10</strong> <input type="range" min="0" max="10" value="0"></p>  
                        <p>Antidifferentiation (trig functions): <strong><span></span>/10</strong> <input type="range" min="0" max="10" value="0"></p>  
                        <p>Antidifferentiation (log functions): <strong><span></span>/10</strong> <input type="range" min="0" max="10" value="0"></p>  
                        <p>Integration by recognition: <strong><span></span>/10</strong> <input type="range" min="0" max="10" value="0"></p> 
                        <p>Integration: <strong><span></span>/10</strong> <input type="range" min="0" max="10" value="0"></p>   
                        <p>Area between curves: <strong><span></span>/10</strong> <input type="range" min="0" max="10" value="0"></p>   
                    </div>
                </section>
                <section class="physics section">
                    <div class="info">
                        <h1>Physics</h1>
                        <p>Coming Soon</p>
                    </div>
                </section>
                <section class="chemistry section">
                    <div class="info">
                        <h1>Chemistry</h1>
                        <p>Coming Soon</p>
                    </div>
                </section>
            </div>
        </div>
    </main>
<script src="../homeinteractive.js"></script>
</body>
</html>